<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script>
        function doajax(){
            xmlhttp=new XMLHttpRequest();
    xmlhttp.onreadystatechange=function()
    {
alert(xmlhttp.readyState);
        alert(xmlhttp.status);
    if (xmlhttp.readyState==4 )
    {
    document.getElementById("output").innerHTML=xmlhttp.responseText;
    }
    }
    xmlhttp.open("GET","127.0.0.1:8000/ajax_info.txt",true);
    xmlhttp.send();
    }
    </script>
    </head>
    <body>

    <div id="myDiv"><h2>Let AJAX change this text</h2></div>
    <button type="button" onclick="doajax()">Change Content</button>





hello worlds
<div id="input">
    <form method="post" action="t.php" id="input_form" onclick="showText()">
        <input type="text">
        <input type="submit" value="ok">
    </form>
</div>
<div id="output">WOW</div>
</body>
</html>